.simple-card{
    background-color: var(--container-bg-color);
    padding: 1.5rem;
    width: clamp(300px, 88vw, 380px);
    border-radius: 10px;
}

.simple-card p{
    margin: 1.8rem 0 1.5rem 0;
    font-size: var(--paragraph-size);
    text-align: center;
}

.profile-img{
    width: 87px;
    height: 87px;
    border-radius: 60px;
    margin-bottom: 1rem;
}

.personal-simplecard{
    gap: 2px;
} 

.personal-simplecard h1{
    font-size: 1.5rem;
    font-weight: 500;
}

.personal-simplecard span{
    font-size: var(--paragraph-size);
    font-weight: 500;
    color: var(--Green);
}

.btn-sections{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 100%;
    gap: 1rem;
}

.btn-sections a{
    font-size: var(--paragraph-size);
    text-align: center;
    padding: 0.813rem 0;
    background-color: var(--button-bg-color);
    color: var(--White);
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
    width: clamp(250px, 100%, 302px);
}

.btn-sections a:hover{
    color: var(--main-bg-color);
    background-color: var(--Green);
}

@media screen and (min-width: 1280px) {
    .simple-card{
        padding: 2.25rem 1.5rem;
    }
}