.social-card{
    background-color: white;
    padding: 1.5rem 0;
    width: 100vw;
    border-radius: 10px;
    max-width: 480px;
}

.social-card hr{
    color: var(--variable-black);
    width: 85%;
}

.section-hero {
  position: relative;
  margin-bottom: 70px;
}

.hero-bg-social{
    height: clamp(180px,53vw,250px);
    width:93vw;
    border-radius: 10px;
    object-fit: cover;
}

.profile-img-social{
  position: absolute;
  left: 50%;
  bottom: -57px;
  transform: translateX(-50%);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.personal-socialcard{
    margin-bottom: 1rem;
}

.personal-socialcard h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.personal-socialcard span{
    font-size: var(--paragraph-size);
    color: var(--button-bg-color);
    font-weight: 500;
    font-style: italic;
}

.description-section{
    margin: 10px 0;
    width: 85%;
}

.description-section p{
    font-size: var(--paragraph-size);
    text-align: justify;
}

.info-article{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: clamp(300px,92vw,410px);
    margin-top: 1rem;
}

.containers-article{
    display: flex;
    background-color: var(--container-bg-color);
    border-radius: 5px; 
}

.title-sections{
    font-size: 19px;
    font-weight: 425;
}

.skill-section{
    flex-direction: column;
    padding: 0.3rem 1rem 0.8rem 1rem;
    background-color: var(--container-bg-color);
    border-radius: 5px; 
}

.skill-rows{
    display: flex;
    flex-direction: row;
    gap: 4px;
    flex-wrap:wrap;
}

.skill-section h2{
    position: relative;
    margin-bottom: 8px;
}


.skill-section span{
    font-size: var(--paragraph-size);
    background-color: var(--tag-bg-color);
    padding: 2px 3px;
    border-radius: 5px;
}

.images-section {
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    min-height: clamp(95px,25vw,116px);
}

.img-1 { grid-area: 1 / 1 / 2 / 2; }
.img-2 { grid-area: 1 / 2 / 2 / 3; }
.img-3 { grid-area: 1 / 3 / 2 / 4; } 

.delivery-section{
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0.5rem;
    cursor: pointer;
}

.delivery-section:hover{
    filter: contrast(0.8);
    transition: all 0.4s ease;
}

.delivery-div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.delivery-div img{
    width: 25px;

}

.delivery-section a{
    color: var(--black);
    text-decoration: none;
}

#dialog:open{
    position: absolute;
    width: 90%;
    max-width: 450px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    outline: 0;
    padding: 2.5rem 0 2rem;
}

.btn-return-modal{
    position: absolute;
    width: 18px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.dialog-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-row h2{
    font-size: 20px;
    font-weight: 600;
}

.dialog-row h3 {
    font-weight: 500;
}

.dialog-row p{
    text-align: center;
}

.contact-section{
    display: flex;
    flex-direction: column;
    padding: 0.3rem 1rem 0.8rem 1rem;
    gap: 0.7rem;
}

.contact-section h2{
    text-align: center;
}

.contact-row{
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.contact-row p{
    font-size: 1rem;
}

.contact-row img{
    width: 36px;
    height: 36px;
}

.social-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 6rem;
}

.social-row{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.social-row img{
    width: 58px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.social-row img:hover{
    filter: brightness(0.8);
    transform: scale(1.1);
}

.footer-socialcard p{
    text-align: center;
}

@media screen and (min-width: 460px) {
    .social-card{
        margin: 3rem 0;
        padding: 0 0 5rem;
    }

    .hero-bg-social{
        border-radius: 10px 10px 0 0;
    }

    .skill-section h2::after {
    content: "";
    width: 230px;
    height: 1px;
    position:absolute;
    background-color: #00000069;
    top: 13px;
    right: 5px;
}

}